.CustomSelect {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 100%;

  @media (min-width: $tablet) {
    min-width: calc(50% - 16px);
  }
}

.p-dropdown-label {
  font-weight: 500;
  color: #FF0000;
}