.MyTimeLog {
  &__loading {
    color: black !important;
  }

  &__table {
    width: 500px;
    border-collapse: collapse;
  }

  &__table-row {
    height: 70px;
    border-bottom: 1px solid #00ff80;
  }
}