.p-menubar {
  background: white;
  border: none;
  display: flex;
  height: 164px;
  justify-content: space-between;
  margin: 0;
  padding: 0 16px;

  @media (min-width: $tablet) {
    padding: 0 80px;
  }
}

.p-menuitem-content {
  background: white;
}

.p-menuitem-text {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.p-menuitem-link {
  background: white;
  padding: 14px 16px;

  @media (min-width: $tablet) {
    padding: 0 80px;
  }

}

@media (min-width: $tablet) {
  .p-menuitem-link {
    padding: 14px 24px;
  }

  .p-menuitem[id="navbar-menu-item-home"] .p-menuitem-text {
    color: white;
  }

  .p-menuitem[id="navbar-menu-item-home"] .p-menuitem-link {
    margin-left: 24px;
    background: black;
    border-radius: 8px;
  }
}