.TimeLogForm {
  &__heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin: 64px 0 32px 0;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;
    justify-content: space-between;
    max-width: 626px;
  }

  &__form-button {
    width: 100%;
  }

  @media (min-width: $tablet) {
    margin-left: 208px;
    margin: 171px 0 32px 0;
  }
}
