.TimeLogForm {
  margin-left: 208px;

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;
    justify-content: space-between;
    max-width: 626px;
  }

  &__form-button {
    width: 100%;
  }
}
