.Footer {
  position: absolute;
  bottom: 0;
  left: 80px;
  width: calc(100% - 160px);
  border-top: 1px solid #E6E6E6;
  padding: 52px 0 88px 0;

  &__company {
    font-size: 24px;
    padding: 0;
    font-weight: 400;
    margin: 0 0 88px 0;
  }

  &__logos {
    display: flex;
    align-items: center;
  }

  &__logos-logo {
    width: 20px;
    margin-right: 20px;
  }
}